/**
 *	Variables
 */

$light-blue : #1496ce;
$base-blue : #2783aa;
$deep-blue : #2676BC;

$base-white : #FBFCFC;
$light-black: #5D5D5D;
$base-black : #444444;

$lower-z-index : 99;
$base-z-index : 999;
$upper-z-index : 99999;
